/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



@font-face {
  font-family: roboto;
  src: url(assets/fonts/roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: roboto-bold;
  src: url(assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
}
